:root {
  --dark-purple: #202330;
  --light-purple: #7b84aa;
  --color: rgba(255, 255, 255, 0.55);
  --hovercolor: rgba(255, 255, 255, 0.75);
  --fontfamily: "Poppins", sans-serif;
}
.about-me {
  color: #ffffff; /* White text color */
  max-width: 100%;
	animation-name: backgroundColorPalette;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; 
}

@keyframes backgroundColorPalette {
	0%, 50%, 75% {
		background: #003366; /* Dark Blue */
    color: #ffffff; /* White text color */
	}
  100% {
    background: #660066; /* Purple */
    color: #ffffff; /* White text color */
  }
}
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 15px;
}

img {
  width: 35rem;
  border-radius: 20px;
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.hero-heading {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
  /* color: darkgrey; */
  /* background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%); */
  /* background: linear-gradient(to right, #f32170,
                    #ff6b08, #cf23cf, #eedd44);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text; */
  /* background: #008080;
background: linear-gradient(to left, #008080 0%, #FFFFFF 25%, #05C1FF 50%, #FFFFFF 75%, #005757 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
  background: #ff00ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
h2 {
  font-weight: 500;
  color: var(--color);
  text-shadow: 1px 1px 1px #00ffcc, 1px 2px 1px #020706, 1px 3px 1px #020706,
    1px 4px 1px #020706, 1px 5px 1px #020706, 1px 6px 1px #020706,
    1px 6px 3px hsl(0deg 0% 6% / 40%), 1px 10px 5px hsl(0deg 0% 6% / 20%),
    1px 12px 15px hsl(0deg 0% 6% / 20%), 1px 18px 30px hsl(0deg 0% 6% / 40%);
}

h2:hover {
  color: var(--hovercolor);
}
.content {
  font-size: 20px;
  margin-bottom: 5rem;
  word-wrap: break-word;
  text-align: center;
  padding: 10px;
  /* color:linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%); */
  /* color:rgba(255, 255, 255, 0.55); */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  margin-bottom: 5px;
  /* background: linear-gradient(to right, #f32170,
                    #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; */
}
a.btn {
  display: inline-block;
  padding: 1rem 1rem;
  /* background-color: darkgray; */
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(90deg, #000000 10%, #9689ae 100%);
  text-decoration: none;
  border-radius: 15px;
  transition: background 0.5s;
  color: white;
  /* border-color: 10px darkgray; */
}

/* .download-cv-btn{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  color: #fff;
  border: none;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  transition: .5s;
  background: rgba(0, 0, 0, 0.5);
} */
/* 375, 500, 768, 1200 */

.social-media-icons a {
color:ghostwhite;
font-size: 2rem;
margin: 10px;
}
.social-media-icons-white a:hover {
color: rgba(255, 255, 255, 0.75);
}

@media only screen and (max-width: 500px) {
  .content {
    font-size: 1rem;
  }
  img {
    width: 100px;
  }
}
@media only screen and (max-width: 375px) {
  .content {
    padding: none;
    text-align: center;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1920px) {
  .hidden{
    visibility: hidden;
  }
}
